---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Fantasybooks from "@components/Fantasybooks"
import { FANTASY } from "@consts"

const fantasybooks = (await getCollection("fantasybooks"))
  .filter(fantasybook => !fantasybook.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(fantasybooks.flatMap(fantasybook => fantasybook.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={FANTASY.TITLE} description={FANTASY.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {FANTASY.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Fantasybooks client:load tags={tags} data={fantasybooks} />
    </div>
  </BottomLayout>
</PageLayout>
