import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import { SITE } from "@consts"

const { author } = Astro.params

// Fetch the fantasy books collection
const fantasybooks = (await getCollection("fantasybooks"))
  .filter(fantasybook => !fantasybook.data.draft && fantasybook.data.bookauthor === author)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

// Page title and description
const pageTitle = `${author}'s Books`
const pageDescription = `Explore books by ${author} on ${SITE.NAME}`

<PageLayout title={pageTitle} description={pageDescription}>
  
  <!-- Hero Section -->
  <section class="relative h-screen w-full">
    <div class='absolute inset-0 top-1/4 overflow-hidden'>
      <div class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Discover the works of...
          </p>
          <p class='text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            {author}
          </p>
          <p class='text-sm md:text-base lg:text-lg opacity-75'>
            Explore the magical realms created by this renowned author.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Books Section -->
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- Books Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Books by {author}
            </p>
            <a href="/fantasybooks" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All books
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {fantasybooks.length > 0 ? (
              fantasybooks.map((fantasybook) => (
                <li>
                  <ArrowCard entry={fantasybook} />
                </li>
              ))
            ) : (
              <li>No books found for this author.</li>
            )}
          </ul>
        </div>
      </section>

    </div>
  </div>
</PageLayout>
